@import '../../assets/scss/base/mixins';
@import 'root';

.sf-radio {
  position: relative;
  margin: --sf-radio-margin;
  
	.radio {
		position: relative;
		display: flex;
		cursor: pointer;
		line-height: 20px;
		font-size: 14px;
		margin: 15px;

		.input {
			position: relative;
			display: block;
			float: left;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			border: 2px solid #1E2235;
			border-radius: 100%;
			-webkit-tap-highlight-color: transparent;

			&:after {
				content: '';
				position: absolute;
				top: 3px;
				left: 3px;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background: #1E2235;
				transform: scale(0);
				transition: all 0.2s ease;
				opacity: 0.08;
				pointer-events: none;
			}
		}

		&:hover {
			.input {
				&:after {
					transform: scale(3.6);
				}
			}
		}
	}
  
	input[type="radio"]:checked + .input {
    	border-color: #1E2235;
	}
  
	input[type="radio"]:checked + .input:after {
		transform: scale(1);
		transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
		opacity: 1;
	}
  
	.cntr {
		position: absolute;
		top: calc(50% - 10px);
		left: 0;
		width: 100%;
		text-align: center;
  	}
  
  	.hidden {
    	display: none;
  	}

	input[color="primary"] {
		border: 2px solid var(--primary);

		&:after {
			background: var(--primary);
		}

		&:checked + .input{
			border-color: var(--primary);

			&:after {
				background: var(--primary);
			}
		}
	}

	input[color="success"] {
		border: 2px solid var(--success);

		&:after {
			background: var(--success);
		}

		&:checked + .input{
			border-color: var(--success);

			&:after {
				background: var(--success);
			}
		}
	}

	input[color="warn"] {
		border: 2px solid var(--warn);

		&:after {
			background: var(--warn);
		}

		&:checked + .input{
			border-color: var(--warn);

			&:after {
				background: var(--warn);
			}
		}
	}

	input[color="danger"] {
		border: 2px solid var(--danger);

		&:after {
			background: var(--danger);
		}

		&:checked + .input{
			border-color: var(--danger);

			&:after {
				background: var(--danger);
			}
		}
	}
}