@import '../../../assets/scss/base/mixins';
@import 'root';

.sf-select {
	position: relative;
	margin: --sf-select-margin;

	.select {
		display: flex;
		flex-direction: column;

		.input {
			position: relative;
			display: flex;
			flex-direction: column;

			&--values {
				min-width: 210px;
				min-height: 44px;
				background-color: var(--input-color);
				border: 1px solid var(--input-color);
				border-radius: var(--sf-select-border-radius);
				padding: var(--sf-select-padding);
				overflow: hidden;
				outline: none;
				transition: all 200ms;
				cursor: pointer;
				display: flex;
				flex-wrap: wrap;

				&:hover {
					-webkit-box-shadow: -1px 1px 3px 2px var(--transparent-1);
					box-shadow: -1px 1px 3px 2px var(--transparent-1);
				}

				.values {
					position: relative;
					width: fit-content;
					margin-right: 5px;

					&--multiple {
						span {
							width: fit-content;
							border: 1px solid var(--placeholder-color);
							background-color: transparent;
							border-radius: 25px;
							font-size: 12px;
							padding: 2px 10px;
						}
					}
				}
			}

			img {
				position: absolute;
				top: calc(50% - 3px);
				right: 8px;
				cursor: pointer;
				pointer-events: none;
				transition: all 300ms ease;
			}

			.img-show {
				transform: rotate(180deg);
			}

			.label {
				padding-left: 10px;
				font-size: 14px;
				min-height: 18px;
				line-height: 14px;
			}

			.placeholder {
				position: absolute;
				font-size: 14px;
				left: 14px;
				top: calc(50% - 1px);
				color: var(--placeholder-color);
				transition: all 200ms ease-out;
				pointer-events: none;
			}

			.label-placeholder {
				top: -3px;
				left: 10px;
				color: black;
			}

			.placeholder-disappear {
				left: 26px;
				opacity: 0;
			}
		}

		.options-wapper {
			position: absolute;
			visibility: hidden;
			width: 100%;
			height: 180px;
			top: 50px;
			opacity: 0;
			overflow: hidden;
			pointer-events: none;
			z-index: -999;
		}

		.options {
			position: absolute;
			visibility: hidden;
			width: 100%;
			height: 0px;
			opacity: 0;
			transition: all 200ms ease;
			background-color: var(--input-color);
			border: 1px solid var(--input-color);
			border-radius: var(--sf-select-border-radius);
			padding: 8px 8px 4px 8px;
			overflow: hidden;
			z-index: 10000;
			-webkit-box-shadow: -1px 1px 3px 2px var(--disabled);
			box-shadow: -1px 1px 3px 2px var(--disabled);

			.scroll-wrapper {
				margin: -2px 0px -6px 0px;
				overflow: hidden;
				height: 100%;
				padding-right: 6px;

				& div:first-of-type {
					border-top: none;
				}

				& div:last-of-type {
					border: none;
				}

				& div:not(:nth-child(0)) + div:not(:last-of-type) {
					border-top: none;
				}
			}
		}

		.options[position="top"] {
			bottom: 46px;
		}

		.options[position="bottom"] {
			top: 66px;
		}

		.show-options-bottom {
			visibility: visible;
			opacity: 1;
			height: 180px;

			.scroll-wrapper {
				overflow: auto;
			}
		}

		.show-options-top {
			visibility: visible;
			opacity: 1;
			height: 180px;

			.scroll-wrapper {
				overflow: auto;
			}
		}
	}
}
/* SCROLL */
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
