@import '../../assets/scss/base/mixins';
@import './root.scss';

.sf-date {
	position: relative;
	display: flex;
	flex-direction: column;

	.label {
		padding-left: 10px;
		font-size: 14px;
		min-height: 18px;
	}

	input[type="date"]  {
		background: var(--input-color);
		border: 1px solid var(--input-color);
		border-radius: var(--sf-date-border-radius);
		padding: var(--sf-date-padding);
		overflow: hidden;
		outline: none;
		transition: all 200ms;

		@media screen and (min-width: 700px) {
			background: var(--input-color) url(../../assets/icons/calendar.svg) no-repeat;
			background-position-y: 55%;
			background-position-x: calc(100% - 12px);

			&::-webkit-inner-spin-button {
				display: none;
			}

			&::-webkit-clear-button {
				display: none;
			}

			&::-webkit-calendar-picker-indicator {
				opacity: 0;
			}
		}
	}

	.input-icon {
		padding-left: var(--sf-date-padding-icon);
	}

	.input-focus {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		pointer-events: none;

		&--border {
			border-bottom: 2.5px solid;
			border-radius: 12px;
			animation: widthExpand 400ms ease-in-out;
		}

		&--primary {
			border-color: var(--primary);
		}

		&--success {
			border-color: var(--success);
		}

		&--warn {
			border-color: var(--warn);
		}

		&--danger {
			border-color: var(--danger);
		}

		&--nborder {
			border-bottom: 2.5px solid var(--transparent);
			border-radius: 0px;
			animation: widthCollapse 400ms ease-in-out;
		}
	}

	.placeholder {
		position: absolute;
		font-size: 14px;
		left: 14px;
		top: calc(50% - 16px);
		color: var(--placeholder-color);
		transition: all 200ms ease-out;
		pointer-events: none;

		&-icon {
			padding-left: 30px;
		}
	}

	.label-placeholder {
		top: -18px;
		left: 10px;
		color: black;

		&--icon {
			left: -18px;
		}
	}

	.placeholder-disappear {
		left: 26px;
		opacity: 0;
	}

	.message {
		position: absolute;
		bottom: -20px;
		left: 10px;
		color: black;
		transition: all 200ms ease-in;
		font-size: 12px;


		&--primary {
			color: var(--primary);
		}

		&--success {
			color: var(--success);
		}

		&--warn {
			color: var(--warn);
		}

		&--danger {
			color: var(--danger);
		}

		&--focus {
			left: 26px;
			opacity: 0;
		}
	}

	@keyframes widthExpand {
		0% {
			opacity: 0;
			width: 0px;
			left: 50%;
			position: absolute;
			border-bottom: 2.5px solid var(--transparent);
			border-radius: 0px;
		}

		100% {
			opacity: 1;
			width: 100%;
			left: 0;
		  	position: absolute;
			border-bottom: 2.5px solid;
			border-radius: 12px;
		}
	}

	@keyframes widthCollapse {
		0% {
			opacity: 1;
			width: 100%;
			left: 0;
			position: absolute;
			border-bottom: 2.5px solid;
			border-radius: 12px;
		}

		100% {
			opacity: 0;
			width: 0px;
			left: 50%;
			position: absolute;
			border-bottom: 2.5px solid var(--transparent);
			border-radius: 0px;
		}
	}
}
