.sf-button {
  --sf-color: '';
  --sf-color-rotate: var(--primary);
  --sf-color-darken: var(--primary);

  // component vars
  --sf-button-padding: 8px 12px;
  --sf-button-margin: 5px;
  --sf-button-border-radius: 12px;
  --sf-button-text-color: #fff;
}
