@import '../../assets/scss/base/mixins';
@import 'root';

.sf-button {
	border-radius: var(--sf-button-border-radius);
	padding: var(--sf-button-padding);
	overflow: hidden;
	outline: none;
	transition: all 200ms;

	&:hover {
		-webkit-box-shadow: 0px 7px 10px -6px var(--hover);
		box-shadow: 0px 7px 10px -6px var(--hover);
		transform: translateY(-0.20em);
	}

	&:focus {
		transform: translateY(0.0em);
	}

	&--primary {
		@include primary_color;
	}

	&--success {
		@include success_color;
	}

	&--warn {
		@include warn_color;
	}

	&--danger {
		@include danger_color;
	}

	.icon {
		position: relative;
		font-size: 17px;
		line-height: 14px;
		top: 2px;
	}
}

.disabled {
	@include disable_color;
	pointer-events: none !important;

	&:hover {
		-webkit-box-shadow: 0px 7px 10px -6px var(--transparent) !important;
		box-shadow: 0px 7px 10px -6px var(--transparent) !important;
		transform: translateY(0.0em) !important;
	}

	&:focus {
		transform: translateY(0.0em) !important;
	}
}

.border {
	background-color: white;
}

.transparent {
	background-color: var(--transparent);
	border: 2px solid var(--transparent);

	&:hover {
		background-color: var(--disabled);
		border: 2px solid var(--transparent);
		-webkit-box-shadow: 0px 7px 10px -6px var(--transparent);
		box-shadow: 0px 7px 10px -6px var(--transparent);
		transform: translateY(-0.20em);
	}

	&:focus {
		transform: translateY(0.0em);
	}
}
