$color-p-0: #2D3436;	// Main Primary color */
$color-p-1: #646F72;
$color-p-2: #485255;
$color-p-3: #151C1E;
$color-p-4: #0E1B1F;
$color-p-5: #dfe6e9;

$color-s-0: #E8505B;	// Main Secondary color */
$color-s-1: #FCA3AA;
$color-s-2: #F97881;
$color-s-3: #D42B37;
$color-s-4: #A8131E;
