@mixin page_content {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	background: #485460;
}

@mixin bottom_shadow_1 {
	-webkit-box-shadow: 2px 4px 8px 1px var(--transparent-1);
	box-shadow: 2px 4px 8px 1px var(--transparent-1);
}

@mixin bottom_shadow_2 {
	-webkit-box-shadow: 0px 10px 25px 2px var(--transparent-1);
	box-shadow: 0px 10px 25px 2px var(--transparent-1);
}

@mixin bottom_shadow_3 {
	-webkit-box-shadow: 0px 10px 25px 2px var(--transparent-1);
	box-shadow: 0px 10px 25px 2px var(--transparent-1);
}

@mixin bottom_shadow_4 {
	-webkit-box-shadow: 0px 10px 25px 2px var(--transparent-1);
	box-shadow: 0px 10px 25px 2px var(--transparent-1);
}

@mixin bottom_shadow_5 {
	-webkit-box-shadow: 0px 10px 25px 2px var(--transparent-1);
	box-shadow: 0px 10px 25px 2px var(--transparent-1);
}

@mixin primary_color {
	color: var(--primary);
	background-color: var(--primary);
	border: 2px solid var(--primary);
}

@mixin success_color {
	color: var(--success);
	background-color: var(--success);
	border: 2px solid var(--success);
}

@mixin warn_color {
	color: var(--warn);
	background-color: var(--warn);
	border: 2px solid var(--warn);
}

@mixin danger_color {
	color: var(--danger);
	background-color: var(--danger);
	border: 2px solid var(--danger);
}

@mixin disable_color {
	color: var(--tdisabled) !important;
	background-color: var(--disabled) !important;
	border: 2px solid var(--transparent) !important;
}
