:root {
    --hover: rgba(0,0,0,0.32);

    // utils
    --transparent: #00000000;
    --transparent-1: #00000010;
	--tdisabled: #00000070;

	// components colors
	--input-color: #f5f6fa;
	--placeholder-color: #7f8fa6;

    // theme colors
    --primary: #3742fa;
    --success: #27ae60;
    --warn: #f1c40f;
    --danger: #e74c3c;
    --disabled: #00000020;

    // theme colors transparent
    --primary-t: #3742fa15;
    --success-t: #27ae6015;
    --warn-t: #f1c40f15;
    --danger-t: #e74c3c15;
}
