.sf-checkbox {
	--sf-checkbox-margin: 5px;
	--line: #E8EBFB;
	--dot: #1E2235;
	--circle: #D3D4EC;
	--background: #fff;
	--duration: .3s;
	--text: #9EA0BE;
	--shadow: 2px 4px 8px 1px var(--transparent-1)
}
