.sf-button {
	--sf-color: '';
	--sf-color-rotate: var(--primary);
	--sf-color-darken: var(--primary);

	// component vars
	--sf-alert-padding: 8px 12px;
	--sf-alert-margin: 5px;
	--sf-alert-border-radius: 0px 12px 12px 0px;
	--sf-alert-text-color: var(--primary);
}
