.sf-checkbox {
	--sf-checkbox-margin: 5px;
	--sf-checkbox-background: #fff;
	--sf-checkbox-border: #D1D6EE;
	--sf-checkbox-border-hover: #BBC1E1;
	--sf-checkbox-border-active: #1E2235;
	--sf-checkbox-tick: #fff;
}
