@import '../../assets/scss/base/mixins';
@import 'root';

.sf-checkbox {
	position: relative;

    .checkbox {
		position: relative;
		display: flex;
		align-items: center;

		span {
			line-height: 12px;
			margin-left: 8px;
			cursor: pointer;
		}

		input,
		svg {
			width: 21px;
			height: 21px;
			display: block;
		}

		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			position: relative;
			outline: none;
			background: var(--sf-checkbox-background);
			border: none;
			margin: 0;
			padding: 0;
			cursor: pointer;
			border-radius: 4px;
			transition: box-shadow .3s;
			box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--sf-checkbox-border));
			&:hover {
				--s: 2px;
				--b: var(--sf-checkbox-border-hover);
			}
			&:checked {
				--b: var(--sf-checkbox-border-active);
			}
		}

		input[color="primary"] {
			&:checked {
				--b: var(--primary);
			}
		}

		input[color="success"] {
			&:checked {
				--b: var(--success);
			}
		}

		input[color="warn"] {
			&:checked {
				--b: var(--warn);
			}
		}

		input[color="danger"] {
			&:checked {
				--b: var(--danger);
			}
		}

		svg {
			pointer-events: none;
			fill: none;
			stroke-width: 2px;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke: var(--stroke, var(--sf-checkbox-border-active));
			position: absolute;
			top: 0;
			left: 0;
			width: 21px;
			height: 21px;
			transform: scale(var(--scale, 1)) translateZ(0);
		}
		&.path {
			input {
				&:checked {
					--s: 2px;
					transition-delay: .4s;
					& + svg {
						--a: 16.1 86.12;
						--o: 102.22;
					}
				}
			}
			svg {
				stroke-dasharray: var(--a, 86.12);
				stroke-dashoffset: var(--o, 86.12);
				transition: stroke-dasharray .6s, stroke-dashoffset .6s;
			}
		}
		&.bounce {
			--stroke: var(--sf-checkbox-tick);
			input {
				&:checked {
					--s: 11px;
					& + svg {
						animation: bounce .4s linear forwards .2s;
					}
				}
			}
			svg {
				--scale: 0;
			}
		}
	}

	@keyframes bounce {
		50% {
			transform: scale(1.2);
		}
		75% {
			transform: scale(.9);
		}
		100% {
			transform: scale(1);
		}
	}
}
