.sf-group {
	cursor: pointer;
	transition: all 200ms ease;
	border-top: 1px solid var(--disabled);
	border-bottom: 1px solid var(--disabled);

	.title {
		color: var(--placeholder-color);
		font-size: 12px;
		font-weight: bold;
		margin: 10px 0px 5px 0px;
	}
}
